@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	letter-spacing: 3px;
	font-size: 3em;
	color: #ffd100;
	font-weight: 200;
}
